window.user_profile_costomize_bomb($('#bomb_canvas'), "#{@user.profile.bomb_color.to_s}", 'explosion_color', 50, 50);
window.user_profile_costomize_bombardier($('#bombardier_canvas'), "#{@user.profile.head_color.to_s}", "#{@user.profile.body_color.to_s}", "#{@user.profile.limbs_color.to_s}", "#{@user.profile.eyes_color.to_s}", 50, 50);