.new_game.row
	.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-xs-12.col-sm-12
		%article
			%canvas#principal_game_canvas{:autofocus => "",:width=>'0',:height=>'0'}
			:javascript
				// *********** INIT GAME ***********
				//init size of canvas
				window.game.canvas_set_size($('#principal_game_canvas'));

				//init game grid
				window.game.initialize_game(#{@game.grid}, #{@game.id})

				// TOUCH SCREEN
				//Touch or not touch, that is the question
				if ("ontouchstart" in document.documentElement){
					
				}else{
					//load keyboard controls events
					window.game.keyboard_control($('#principal_game_canvas'));
				}
				// *********** CONNECTION ***********
				window.conn.init_game_connection("#{@uri}")
				//window.conn.create_player(#{@user.id})

				// *********** GAME LOOP ***********
				var mainloop = function() {
				  //window.game.update();
				  //window.game.draw($('#principal_game_canvas'));
				};

				//Animation frame support
				var animFrame = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || null ;
				
				if(animFrame !== null){
					var canvas = $('#principal_game_canvas').get(0);
					var recursiveAnim = function() {
						mainloop();
						animFrame( recursiveAnim, canvas );
					};
					// START GAME
					animFrame( recursiveAnim, canvas );

				} else {
					// browsers without animation frame support
					var ONE_FRAME_TIME = 1000.0 / 60.0 ;
					// START GAME
					setInterval( mainloop, ONE_FRAME_TIME );
				}
				// *********** END GAME LOOP ***********

				// *********** USER LEAVE THE PAGE ***********
				window.onbeforeunload = function(e){
					window.conn.player_leave_page(#{@user.id})
				}