.new_game.row
	
	.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-xs-12.col-sm-12
		%article
			.game
				#right_controls_holder.touch_controls{:style => 'display:none;float:right'}
					%h4='move controls'
					.table_controls
						%table
							%tbody
								%tr
									%td
									%td.with_content
										.icon-chevron-sign-up.icon
									%td
								%tr
									%td.with_content
										.icon-chevron-sign-left.icon
									%td.with_content
										.icon-move.icon
									%td.with_content
										.icon-chevron-sign-right.icon
								%tr
									%td
									%td.with_content
										.icon-chevron-sign-down.icon
									%td					
				#left_controls_holder.touch_controls{:style => 'display:none;float:left'}
					%h4='Bombs controls'
					.table_controls
						%table
							%tbody
								%tr
									%td
									%td.with_content
										.icon-arrow-up.icon
									%td
								%tr
									%td.with_content
										.icon-arrow-left.icon
									%td.with_content
										.icon-bullseye.icon
									%td.with_content
										.icon-arrow-right.icon
								%tr
									%td
									%td.with_content
										.icon-arrow-down.icon
									%td
				
				%canvas#principal_game_canvas{:autofocus => "",:width=>'0',:height=>'0',:style=>'float:left'}
				.clearfix
				=link_to('','#modal_window_game_win_lose','data-toggle'=>'modal', :style => 'display:none', :id => 'trigger_finish_modal')
				.modal.fade#modal_window_game_win_lose
					.modal-dialog
						.modal-content
							.modal-header
								%button.close{:type=>'button','data-dismiss'=>'modal', 'aria-hidden'=>'true'}='x'
								%h4.modal-title='Game Finished'	

			#turn_device_to_landscape_alert.alert.alert-block.alert-danger{:style => 'display:none'}
				%h4
					='Please turn your device to landscape mode'
				%p
					='You can do this turning your device to the right or changing this value on your config options menu'


			:javascript
				// *********** INIT GAME ***********

				// TOUCH SCREEN
				//Touch or not touch, that is the question
				if ("ontouchstart" in document.documentElement){
					//init size of canvas
					window.game.canvas_set_size_touch($('#principal_game_canvas'));

					window.game.listener_change_device_orientation($('#principal_game_canvas'));

					window.game.touch_controls($('.touch_controls'));
					
					$(window).resize(function() {
						window.game.canvas_set_size_touch($('#principal_game_canvas'));
					});
				}else{
					//load keyboard controls events
					window.game.keyboard_control();
					//init size of canvas
					window.game.canvas_set_size_pc($('#principal_game_canvas'));
					$(window).resize(function() {
						window.game.canvas_set_size_pc($('#principal_game_canvas'));
					});
				}
				//window.game.canvas_set_size_touch($('#principal_game_canvas'));
				//window.game.touch_controls($('.touch_controls'));
				// *********** INIT CONNECTION ***********
				window.conn.init_connection("#{@game.id}", "#{@user.id}", "#{@host}")
				window.game.set_user_id(#{@user.id})

				

				// *********** GAME LOOP ***********
				var mainloop = function() {
				  window.game.update();
				  window.game.draw($('#principal_game_canvas'));
				};

				//Animation frame support
				var animFrame = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || null ;
				
				if(animFrame !== null){
					var canvas = $('#principal_game_canvas').get(0);
					var recursiveAnim = function() {
						mainloop();
						animFrame( recursiveAnim, canvas );
					};
					// START GAME
					animFrame( recursiveAnim, canvas );

				} else {
					alert('this game maybe works better on modern browsers');
					// browsers without animation frame support
					var ONE_FRAME_TIME = 1000.0 / 60.0 ;
					// START GAME
					setInterval( mainloop, ONE_FRAME_TIME );
				}
				// *********** END GAME LOOP ***********

				// *********** USER LEAVE THE PAGE ***********
				window.onbeforeunload = function(e){
					window.conn.disconnect_player("#{@user.id}");
					window.game.disconnect_player();
				}
