!!! 5
%html
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "DEESCRIPCIÓN DE LA PÁGINA", :name => "description"}
		%meta{:content => "Daniel Romero Esteban", :name => "author"}
		%meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1.0"}
		%title= 'Bomberball'
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
		= favicon_link_tag 'favicon.ico'
	%body.tfg
		%header#application_header
			-if (current_user)
				=render :partial => 'layouts/header_with_user'
			-else
				=render :partial => 'layouts/header_without_user'
		-# padding because header min-height of 50 px
		%section{:style=>'padding-top:50px'}
			= yield
		%footer
			.separator{:style=>'min-height:1px;border:1px solid #626262;width:100%;'}
			.row
				.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-xs-12.col-sm-12
					.row
						.col-lg-6.col-md-6.col-xs-12.col-sm-12
							=link_to 'Terms and license, data usage, cookies policy', privacy_license_and_terms_path,:target=>'_blank',:class=>'cool_anchor'
						.col-lg-6.col-md-6.col-xs-12.col-sm-12
							=link_to 'Created by Daniel Romero', about_me_path, :target=>'_blank',:class=>'cool_anchor'
