!!!
%html
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "DEESCRIPCIÓN DE LA PÁGINA", :name => "description"}
		%meta{:content => "Daniel Romero Esteban", :name => "author"}
		%meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1.0"}
		%title= 'Bomberball'
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
		= favicon_link_tag 'favicon.ico'
	%body.tfg
		-if (current_user)
			=render :partial => 'layouts/header_with_user'
		-else
			=render :partial => 'layouts/header_without_user'
		= yield
